*.png binary
*.snk binary
*.json -text
*.pdf binary
*.docx binary
*.xlsx binary
*.pptx binary


.editorconfig text eol=lf working-tree-encoding=UTF-8
Shared.sln.DotSettings text eol=lf working-tree-encoding=UTF-8